.Pot {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(3, 3.8vmin);
  border: 0.4vmin solid var(--green-2);
}

.Pot .section {
  grid-row: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2vmin;
  font-weight: 500;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  background-color: var(--green-2);
  color: var(--green-8);
}

.Pot .heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--green-8);
  font-size: 2.5vmin;
  margin: 0 1vmin 0 1.5vmin;
}

.Pot .first {
  margin-top: 1vmin;
}

.Pot .last {
  margin-bottom: 1vmin;
}

.Pot .second {
  margin-bottom: 0.5vmin;
}

.Pot .heading:nth-of-type(4) {
  font-weight: bold;
}

.Pot h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Roboto Mono';
  font-size: 2.5vmin;
  font-weight: 200;
  color: var(--bg);
  margin: 0 1vmin;
}

.Pot h1:nth-of-type(3) {
  color: white;
  font-weight: 400;
  /* font-weight: bold; */
}