.TeamGrid {
  display: grid;
  grid-template-columns: 35vw 20vw 35vw;
  grid-template-rows: repeat(7, 9vmin);
  gap: 2vmin;
  grid-template-areas: 
   "team-1 . team-2"
   "team-3 . team-4"
   "team-5 . team-6"
   "team-7 . team-8"
   "team-9 . team-10"
   "team-11 . team-12"
   "team-13 . team-14";
  align-items: center;
}