.Payouts {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(3, 3.8vmin);
  border: 0.4vmin solid var(--green-2);
}

.Payouts .section {
  grid-row: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  background-color: var(--green-2);
  color: var(--green-8);
}

.Payouts .heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--green-8);
  font-size: 2.5vmin;
  font-weight: bold;
  margin: 0 1vmin 0 1.5vmin;
}

.Payouts h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Roboto Mono';
  font-size: 2.5vmin;
  color: white;
  font-weight: 500;
  margin: 0 1vmin;
}