.Team {
  height: 100%;
  background-color: var(--green-1);
  border-width: 0.3vmin;
  border-style: solid;
  border-color: var(--green-1);
  border-radius: 0.4vmin;
  cursor: pointer;
}

.Team.active {
  border-color: var(--green-8);
  cursor: default;
}