.Team {
  display: grid;
  grid-template-columns: 6vmin 1fr 10vmin 12vmin;
  height: 100%;
  background-color: var(--green-1);
  border-width: 0.3vmin;
  border-style: solid;
  border-color: var(--green-1);
  border-radius: 0.4vmin;
  cursor: pointer;
}

.Team.active {
  border-color: var(--green-8);
  cursor: default;
}

.Team .TeamNum {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background-color: var(--green-2);
  font-size: 3vmin;
  color: var(--green-8);
}

.Team .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green-8);
  font-size: 2vmin;
  font-weight: bold;
  padding-top: 0.1vmin;
}

.Team h2 {
  font-family: 'Roboto Mono';
  font-size: 3vmin;
  font-weight: 400;
  color: white;
  margin: 0;
  text-align: center;
}
