.Header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 14vmin;
  /* align-items: center; */
  background-color: var(--green-1);
}

.Header .title {
  height: 14vmin;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 28vmin;
  background-color: var(--green-8);
  color: #dbe0dd;
  font-size: 3vmin;
  letter-spacing: 0.15vmin;
}

.Header .title span {
  font-weight: lighter;
}

.Header .triangle {
  border-top: 7vmin solid transparent;
  border-left: 5vmin solid var(--green-8);
  border-bottom: 7vmin solid transparent;
}

.Header .money {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}