.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-1);
  font-size: 1.6vmin;
  font-weight: normal;
  padding: 0 2vmin;
}

.Footer img {
  height: 1.6vmin;
  width: 1.6vmin;
  cursor: pointer;
}