header {
  display: flex;
  align-items: center;
  background-color: var(--green-2);
  height: 10vmin;
}

header .title {
  height: 10vmin;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 35vmin;
  background-color: var(--green-8);
  color: #dbe0dd;
  /* color: var(--text-green-light); */
  font-size: 3.8vmin;
  letter-spacing: 0.15vmin;
}

header .triangle {
  height: 0;
  width: 0;
  border-top: 5vmin solid transparent;
  border-left: 10vmin solid var(--green-8);
  border-bottom: 5vmin solid transparent;
}

main {
  padding: 5vmin;
  display: grid;
  place-content: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6vmin;
  font-weight: normal;
  padding-right: 1rem;
}