* {
  box-sizing: border-box;
}

:root {
  --bg: #EBEEF1;
  --green-1: #a7c6b3;
  --green-2: #8CB69C;
  --green-6: #578B6C; 
  --green-8: #395d48; 
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr 5vmin;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sup {
  font-size: smaller;
  vertical-align: top;
}


