* {
  box-sizing: border-box;
}

:root {
  --bg: #EBEEF1;
  --green-0: #c2daca;
  --green-1: #a7c6b3;
  --green-2: #8CB69C;
  --green-6: #578B6C;
  --green-8: #1f392a; 
  /* --green-8: #3a684e;  */
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: 14vmin 1fr 5vmin;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-ctr-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-around-ctr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-col-around-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.sup {
  font-size: smaller;
  vertical-align: top;
}


