.Bidder {
  display: grid;
  grid-template-columns: 9vmin 1fr 9vmin;
  grid-template-rows: 9vmin;
  background-color: var(--green-1);
}

.Bidder div:nth-child(2) {
  /* flex or grid? */
  border: .4vmin solid var(--green-8);
  border-radius: .4vmin;
  /* border-width: .4vmin 0; */
}

.Bidder div:first-child, .Bidder div:last-child {
  background-color: var(--bg);
}

.Bidder div:first-child.triangle {
  border-top: 4.5vmin solid var(--bg);
  border-right: 9vmin solid var(--green-8);
  border-bottom: 4.5vmin solid var(--bg);
}

.Bidder div:last-child.triangle {
  border-top: 4.5vmin solid var(--bg);
  border-left: 9vmin solid var(--green-8);
  border-bottom: 4.5vmin solid var(--bg);
}