.Bidder {
  display: grid;
  grid-template-columns: 6vmin 1fr 6vmin;
  grid-template-rows: 6vmin;
  grid-column: 2;
  background-color: var(--green-1);
}

.Bidder div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: .3vmin solid var(--green-8);
  border-radius: .4vmin;
}

.Bidder div:first-child, .Bidder div:last-child {
  background-color: var(--bg);
}

.Bidder div:first-child.triangle {
  border-top: 3vmin solid var(--bg);
  border-right: 6vmin solid var(--green-8);
  border-bottom: 3vmin solid var(--bg);
}

.Bidder div:last-child.triangle {
  border-top: 3vmin solid var(--bg);
  border-left: 6vmin solid var(--green-8);
  border-bottom: 3vmin solid var(--bg);
}

.Bidder select {
  font-family: var(--bs-body-font-family);
  font-size: 3.5vmin;
  text-align: center;
  color: var(--green-8);
  border: none;
  border-radius: 0.4vmin;
  outline: none;
  background-color: var(--green-1);
  cursor: pointer;
}

.Bidder img {
  height: 3.5vmin;
  width: 3.5vmin;
  cursor: pointer;
}
